<%- include("../partials/header")  %> 
    <h1>Profile Page</h1>
    <div class="card" style="width: 18rem; margin: auto;">
        <img class="card-img-top" src="<%= user.avatar %>" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Name: <%= user.name %></p>
          <p class="card-text">Email: <%= user.email %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Projects:</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Comments:</li>
            <li class="list-group-item d-flex justify-content-between align-items-center">Messages:</li>
          </ul>
        </div>
        
      </div>
<%- include("../partials/footer")  %> 