<%- include("../partials/header")  %> 
    <h1>Project's Details</h1>
    <section id="show-page">
        <div>Title: </div>
        <div><%= project.title %></div>
        <div>Category: </div>
        <div><%= project.category %></div>
        <div>Posting: </div>
        <div><%= project.posting %></div>
        <div>Description: </div>
        <div><%= project.description %></div>
        <!-- <div>Comments:</div> -->
    </section>
    <% if(user) { %>
        <form id="add-project-form" method="POST" action="/projects/<%= project._id %>/comments">
            <textarea name="content"></textarea>
            <input type="submit" value="Add Comment">
        </form>
        <h2>Comments</h2>
        <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>Comment</th>
              </tr>
            </thead>
            <tbody>
              <% project.comment.forEach(function(c) { %>
                <tr>
                  <td class="review-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                  <td><%= c.createdAt.toLocaleDateString() %></td>
                  <td><%= c.content %></td>
                  <td>
                    <% if (user && user._id.equals(c.user)) { %>
                      <form action="/projects/<%= c._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    <% } %>
                  </td>
              </tr>
              <% }); %>
            </tbody>
          </table>  
        <% } else { %>
          <h5>No Reviews Yet</h5>
        <% } %>
<%- include("../partials/footer")  %> 