<%- include("../partials/header")  %> 
      <div class="card text-center bg-light mb-3 border-secondary mb-3" style="width: 35rem; height: 23rem; margin: auto; margin-top: 30px;">
        <div class="card-header border-secondary mb-3" style="font-size: 25px;"><%= project.title %></div>
        <div class="card-body" style="padding: 10px">
          <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">Category: <%= project.category %></li>
            <li class="list-group-item list-group-item-secondary">Posting: <%= project.posting %></li>
          </ul>
          <div class="card border-secondary mb-3" style="margin-top: 25px">
            <div class="card-header border-secondary mb-3">Description</div>
            <div class="card-body">
              <p class="card-text"><%= project.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% if(user) { %>
        <form id="add-project-form" method="POST" action="/projects/<%= project._id %>/comments">
          <div class="form-floating postition-relative">
            <textarea class="form-floating position-absolute start-50 translate-middle-x w-25 p-3"  id="floatingTextarea2" name="content"></textarea>
          </div>
          <input type="submit" value="Add Comment">
        </form>
        <h2>Comments</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Date</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
            <tbody>
              <% project.comment.forEach(function(c) { %>
                <tr>
                  <td class="align-middle"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                  <td class="align-middle"><%= c.createdAt.toLocaleDateString() %></td>
                  <td class="align-middle"><%= c.content %></td>
                  <td class="align-middle">
                    <% if (user && user._id.equals(c.user)) { %>
                      <form action="/projects/<%= c._id %>?_method=DELETE" method="POST">
                        <a class="btn text-white btn-secondary" role="button">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    <% } %>
                  </td>
              </tr>
              <% }); %>
            </tbody>
          </table>  
        <% } else { %>
          <h5>No Reviews Yet</h5>
        <% } %>
<%- include("../partials/footer")  %> 